// =====================================================================================================================
.header {
	width: 100%;
  border-bottom: 1px solid rgba($blackColor, 0.2);
	&__container {
		height: rem($headerHeight);
		display: flex;
		align-items: center;
    column-gap:20px;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		align-items: center;
		column-gap: 67px;
	}
	&__contact {
		display: flex;
		align-items: center;
		column-gap: 25px;
	}
	&__tel {
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.3;
		color: $blackColor;
		letter-spacing: 0em;
		text-align: left;
		@include hoverText(#ff7f57);
	}
	&__btn {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		color: $hoverColor;
		letter-spacing: 0em;
		text-align: center;
		border: 2px $hoverColor solid;
		border-radius: 10px;
		padding: 21px 37px;
		display: block;
		@include hoverText($blackColor);
	}
}
.menu {
	&__list {
		display: flex;
		column-gap: 39px;
	}
	&__link {
		transition: 0.6s;
		color: $blackColor;
		@include hoverText(#ff7f57);
	}
}
/* Зміна вигляду випадаючого списку Select2 */
.select2-hidden-accessible {
	display: none;
}
.select2-selection__rendered {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	color: $blackColor;
	cursor: pointer;
	letter-spacing: 0em;
	text-align: left;
  position: relative;
  padding-right: 17px;
  transition: 0.6s;
  &::before{
    content:'';
    transition: 0.6s;
    width: 12px;
    height: 6px;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position: absolute;
    background-image: url('../../images/arrow.svg');
    position: absolute;
  }
  &:hover{
    opacity: 0.7;
    &::before{
      opacity: 0.7;
    }
  }
}
.select2-container--open{
  .select2-selection__rendered{
    &::before{
      transform: translateY(-40%) rotate(180deg);
    }
  }
}
.select2-results__options {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	box-shadow: 4px 5px 10px -4px black;
  background-color: #fff;
	padding: 8px;
}
.select2-results__option {
  cursor:pointer;
	@include hoverText($hoverColor);
}
// =====================================================================================================================

// Burger
/*
.icon-menu {
  display: none;
  @include media(767) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
//адаптив
@media(max-width:1200px){
  .header__inner{
    column-gap:40px;
  }
  .header__btn{
    padding: 15px 22px;
  }
  .header__contact {
    column-gap:15px;
  }
  .header__tel{
    font-size: 16px;
  }
  .menu__list{
    column-gap:25px;
  }
  .header__logo img{
    max-width: 80px;
  }
}
@media(max-width:992px){

}